<article>
    <header class="post-header">
        <div class="post-title">
            {{ page.title | escape }}
        </div>
        <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.date_format | default: "%Y/%m/%d" %}
            {{ page.date | date: date_format }}
        </time>
        <div class="post-tags">
            {% if page.tags %}
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{ tag | slugize }}">
                #{{ tag }}
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </header>
    <div class="post-content">
        {{ content }}
    </div>
</article>