<div class="topnavi">
    <a href="{{ " /" }}">
        <img src="/images/homepage/icons8-home-50.png" height="22px"
            style="display: inline-block; vertical-align: middle;">
    </a>
    <a href="{{ site.baseurl }}/tag/">
        <img src="/images/homepage/icons8-tags-50.png" height="20px"
            style="display: inline-block; vertical-align: middle;">
    </a>
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
    <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">
        <span>{{ category | first }}</span>
        <!-- <span class="badge">{{ category | last | size }}</span> -->
    </a>
    {% endfor %}
    <div class="topnavi-last"></div>
</div>